body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: #353D69; */
    background: linear-gradient(135deg, #242C4C, #3b4572);
    font-family: "Segoe UI", sans-serif;
    overflow-y: auto;
}

.calculadora{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 6px 20px rgba(44, 44, 44, 0.3);
    background: #242C4C;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    max-width: 400px;
}

.calculadora:hover{
    transform:  translateY(-3px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fila {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  gap: 12px;
  width: 100%;
}

.fila button {
  flex: 1 1 calc(25% - 12px); 
  width: auto; 
}

.pantalla{
    width: 100%;
    height: 80px;
    background: #1A203C;
    color: white;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 2rem;
    outline: none;
    padding: 15px;
    box-sizing: border-box;
}

.pantalla#resultado {
  background: #2c3b75;
  color: #FFFFFF;
  font-weight: bold;
  box-shadow: inset 0 0 12px rgba(0,0,0,0.3);
  transition: 0.5s;
  
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
  line-height: 1.2;
  word-wrap: break-word;
  white-space: normal;
  font-size: clamp(1rem, 2vw, 1.8rem);
  min-height: 60px;
}


.pantalla#resultado.activo{
    background: #3b4ba0;
    transform: scale(1.08);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.2);
}

button{
    height: 80px;
    width: 100%;
    background: #EAEAEA;
    border: 2px solid #080055;
    border-radius: 10px;
    color: #080055;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button.accion{
    background: #647299;
    color: white;
    border-color: #4b5685;
}

button.Limpiar{
    background: #D13F30;
    color: #FFFFFF;
    border-color: #A32D21;
}

button:hover{
    background: #080055;
    color: whitesmoke;
    transform: scale(1.05);
    transform-origin: center;
}

button.accion:hover {
    background: #4b5685;
}

button.Limpiar:hover {
    background: #A32D21;
}

@media (max-width: 600px) {
  button {
    height: 65px;
    font-size: 18px;
  }

  .pantalla {
    height: 65px;
    font-size: 1.5rem;
  }

  .calculadora {
    max-width: 90%;
    padding: 20px;
    gap: 15px;
  }
}

@media (max-width: 500px) {
  .pantalla#resultado {
    font-size: clamp(0.9rem, 4vw, 1.4rem);
    padding: 8px;
  }
}


@media (max-width: 400px) {
  button {
    height: 55px;
    font-size: 16px;
  }

  .pantalla {
    height: 55px;
    font-size: 1.2rem;
  }
}
